@{ RedirectIfNotAuthenticated($"/server-razor/login?redirect={Request.PathInfo}"); }

<div id="auth-info">
    <small class="text-muted">
        @UserSession.DisplayName
        | <a href="/auth/logout?continue=/server-razor/">Sign Out</a>
    </small>
</div>
