@{ RedirectIfNotAuthenticated($"/client-razor/login?redirect={Request.PathInfo}"); }

<div id="auth-info">
    <small class="text-muted">
        @UserSession.DisplayName
        | <a href="/auth/logout?continue=/client-razor/">Sign Out</a>
    </small>
</div>
